*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
p {
  padding: 1.3rem 0;
  }
html {
  font-size: 62.5%; //1 rem 10px
  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-size: 2rem;
  color: $color-text;
  line-height: 3.2rem;
  box-sizing: border-box;
  background-color: $color-white-bg;
}

blockquote{
  font-size: 2rem;
  line-height: 2.2rem;
}
h1, h2, h3, h4{
  font-size: 3rem;
}