// body {
//   font-size: 1.8rem;
//   font-weight: 400;
// }
li {
  padding-top: 0.8rem;
  list-style-type: none;
}
select {
display: inline-block;
border: 0.1rem solid $color-tertiary-dark;
border-radius: 0.4rem;
}
a {
  color: $color-secondary;
  text-decoration: none;
  &:hover{
    text-decoration:none;
    cursor:pointer;
  }
}
