// body {
//   font-size: 1.8rem;
//   font-weight: 400;
// }
li {
  padding-top: 0.8rem;
}
select {
display: inline-block;
border: 0.1rem solid $color-tertiary-dark;
border-radius: 0.4rem;
}
a {
  text-decoration: none;
  &:hover{
    text-decoration:none;
    cursor:pointer;
  }
}

// .blog--title{
//   text-align: center;
//   font-size: 2.4rem;
//   h1{
//     font-weight: 300;
//   }
// }