.main-wrapper {
  max-width: 110rem;
  margin: auto;
  padding: 2rem 10rem;
  background-color: $color-white-bg;
}

.nav{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  // background-image: url($bg_footer);
  background-attachment: fixed;
  // background-size: cover;
  align-self: stretch;
  align-items: center;
  // background-color: $color-primary;
  padding: 1rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  a {
    color: $color-white;
    &:hover{
      color:$color-white;
    }
  }
}

.wrapper{
  &--post{

  }
}