.main-wrapper {
  max-width: 110rem;
  margin: auto;
  padding: 1rem 1rem;
  background-color: $color-white-bg;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 3rem;
  padding-top: 0.8rem;
  // overflow: hidden;
  z-index: 1;
  background-color: $color-white-bg;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.blog{
  margin-top: 2.4rem;
  max-width: 80rem;
  margin: 0 auto;
}