.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: $color-white-bg;
}
.main-container{
  display: flex;
  justify-content: center;
  padding: 0rem 5%;
  // margin-left: auto;
  // margin-right: auto;
}
.tag-container{
  // width: 100%;
  max-width: 70rem;
}
.about-container{
  // width: 100%;
  max-width: 70rem;
}

.nav{
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 0 5%;
  margin-bottom: 1.6rem;
  & ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: $color-white-bg;
  }
  & li {
    float: left;
  }
  & a {
    display: block;
    color: $color-text;
    font-weight: 700;
    text-align: center;
    padding: 1rem 1.6rem;
    text-decoration: none;
  }

  // box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

//blog section
.blog{
  display: flex;
  flex-direction: row;
}

.pagination {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  height: 8rem;
}