.blogPost{
  display: block;
  margin: 0 auto;
  margin: 1rem 0;
  max-width: 72rem;
  @include respond(tab-phone) {
    // width < 900?
    background-color: red;
  }
  &__desc{
    padding-top: 2rem;
    margin: 0rem;
  }
  &__date{
    color: gray;
    padding-bottom: 2rem;
  }
  &__tag{
    &--list{
      display: inline-block;
      padding-right: 1.4rem;
    }
  }
}