.post{
  display: block;
  background-color: $color-white-bg;
  &__card{
    @include respond(tab-port) {
      width:auto;
      display: block;
      height: auto;
    }
    width: 90rem;
    height: 24rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    color: $color-text;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    border-bottom: 1px solid $color-gray;
    border-top: 1px solid $color-gray;
  }
  &__title{
    flex: 1 1 0;
    font-size: 2.4rem;
  }
  &__desc{
    flex: 1 1 0;
    font-size: 1.8rem;
  }
  &__image{
    flex: 1 1 0;
  }
  &__date{
    display: block;
    color: gray;
    font-size: 1.4rem;
  }
}