.post{
  display: block;
  background-color: $color-white-bg;
  padding-bottom: 3rem;
  &__card{
    display: block;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-bottom: 1px solid $color-gray;

    // transition: all 0.3s;
    // position: relative;
    //   &:hover {
    //     box-shadow: 0 0.2rem 1rem rgba($color-black, 0.5);
    //   }
    }
  &__title{
    font-size: 2.4rem;
  }
  &__desc{
    font-size: 1.8rem;
    margin: 0rem;
  }
  &__image{
    max-width: 52rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
  &__date{
    color: gray;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}