*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

p {
  padding: 1.3rem 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 2rem;
  color: #3c3c3c;
  line-height: 3.2rem;
  box-sizing: border-box;
  background-color: #f4f4f4; }

blockquote {
  font-size: 2rem;
  line-height: 2.2rem; }

h1, h2, h3, h4 {
  font-size: 3rem; }

li {
  padding-top: 0.8rem;
  list-style-type: none; }

select {
  display: inline-block;
  border: 0.1rem solid #253345;
  border-radius: 0.4rem; }

a {
  color: #9F392B;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

.post {
  display: block;
  background-color: #f4f4f4; }
  .post__card {
    color: #3c3c3c;
    display: block;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-bottom: 1px solid #E2E2E2; }
  .post__title {
    font-size: 2.4rem; }
  .post__desc {
    font-size: 1.8rem;
    margin: 0rem; }
  .post__image {
    max-width: 52rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .post__date {
    color: gray;
    font-size: 1.4rem;
    margin-bottom: 1rem; }

.blogPost {
  display: block;
  margin: 0 auto;
  margin: 4rem 0;
  max-width: 72rem; }
  .blogPost__desc {
    margin: 0rem; }
  .blogPost__date {
    color: gray; }
  .blogPost__tag--list {
    display: inline-block;
    padding-right: 1.4rem; }

.info {
  z-index: 1;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  height: 20rem;
  padding-top: 1rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .info {
      display: none; } }
  .info__list {
    font-size: 1.6rem; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f4f4f4; }

.main-container {
  display: flex;
  justify-content: center;
  padding: 0rem 5%; }

.tag-container {
  max-width: 70rem; }

.about-container {
  max-width: 70rem; }

.nav {
  z-index: 1;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 0 5%;
  margin-bottom: 1.6rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1); }
  .nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f4f4; }
  .nav li {
    float: left; }
  .nav a {
    display: block;
    color: #3c3c3c;
    font-weight: 700;
    text-align: center;
    padding: 1rem 1.6rem;
    text-decoration: none; }

.blog {
  display: flex;
  flex-direction: row; }

.pagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem; }

.tag__title {
  font-size: 3.2rem; }

.tag__wrapper {
  padding: 1rem 10rem; }

.tag__list {
  display: inline-block;
  padding: 1.6rem; }
