*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 2rem;
  color: #555555;
  line-height: 3rem;
  box-sizing: border-box;
  background-color: #f4f4f4; }

blockquote {
  font-size: 2rem;
  line-height: 2.2rem; }

h1, h2, h3, h4 {
  font-size: 3rem; }

li {
  padding-top: 0.8rem;
  list-style-type: none; }

select {
  display: inline-block;
  border: 0.1rem solid #253345;
  border-radius: 0.4rem; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    cursor: pointer; }

.post {
  display: block;
  background-color: #f4f4f4;
  padding-bottom: 3rem; }
  .post__card {
    display: block;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-bottom: 1px solid #E2E2E2; }
  .post__title {
    font-size: 2.4rem; }
  .post__desc {
    font-size: 1.8rem;
    margin: 0rem; }
  .post__image {
    max-width: 52rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .post__date {
    color: gray;
    font-size: 1.4rem;
    margin-bottom: 1rem; }

.blogPost {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 72rem; }
  .blogPost__desc {
    margin: 0rem; }
  .blogPost__date {
    color: gray; }
  .blogPost__tag--title {
    margin: 0; }
  .blogPost__tag--list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; }

.info {
  z-index: 1;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  height: 20rem;
  padding-top: 2.3rem;
  margin-right: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .info {
      display: none; } }
  .info__list {
    font-size: 1.6rem; }

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f4f4f4; }

.post-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 5%;
  margin-top: 1rem; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  z-index: 1;
  background-color: #f4f4f4;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1); }

.blog {
  display: flex;
  flex-direction: row; }

.tag__wrapper {
  padding: 1rem 10rem; }

.tag__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
